<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio FullCycle Node com Nginx</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 20px;
            background-color: #f9f9f9;
        }
        h1 {
            color: #333;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        thead {
            background: #4CAF50;
            color: white;
        }
        th, td {
            text-align: left;
            padding: 10px;
        }
        tr {
            background: #f9f9f9;
            border-bottom: 1px solid #ddd;
        }
        tr:hover {
            background: #f1f1f1;
        }
        th {
            border-radius: 5px 5px 0 0;
        }
        tr:first-child th {
            border-top: none;
        }
        tbody tr:last-child td {
            border-radius: 0 0 5px 5px;
        }
    </style>
</head>
<body>
    <h1>Full Cycle Rocks!!!</h1>
    <table border="1" style="width: 100%; border-collapse: collapse; text-align: left;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% if (people.length > 0) { %>
                <% people.forEach(person => { %>
                    <tr>
                        <td><%= person.ID %></td>
                        <td><%= person.name %></td>
                        <td><%= person.phone %></td>
                        <td><%= person.email %></td>
                    </tr>
                <% }); %>
            <% } else { %>
                <tr>
                    <td colspan="4">Nenhuma pessoa encontrada.</td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>